body {
    background:linear-gradient(to right top,#7a04eb,#fe00fe);
}

h1{
    margin-left: 550px;
    background-color: orange;
    width: 900px;
    font-size: 3em;
    border: 5px dashed cyan;
    border-radius : 3px;
}

h2 {
    text-align: center;
    margin-top: 400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    font-size: 1.5em;
    color: cyan;
}