body {
    background:linear-gradient(to right top,#7a04eb,#fe00fe);
}

#main {
    position:absolute;
    margin-left: 250px;
}

h1{
    margin-left: 650px;
    color: orange;
    background-color: aqua;
    font-size: 80px;
    width: 550px;
    padding-left: 20px;
    border-radius: 1em 1em 1em 1em;;
}

/* CELUI QUI TOUCHE A CA JE L'EXPLOSE */

#lg_bande_1 {
    position: relative;
    transform: rotate(0deg);
    width  : 20px;
    height : 72px;
    background : white;
    margin-left: 956px;
    margin-top: 308px;
}
#lg_bande_2 {
    transform: rotate(0deg);
    width  : 20px;
    height : 73px;
    background : white;
    margin-left: 803px;
    margin-top: -67px;
}
#pt_bande_1 {
    transform: rotate(0deg);
    width  : 20px;
    height : 60px;
    background : white;
    margin-left: 905px;
    margin-top: -60px;
}
#pt_bande_2 {
    transform: rotate(0deg);
    width  : 20px;
    height : 60px;
    background : white;
    margin-left: 855px;
    margin-top: -65px;
}

/* FIN DE L'AVERTISSEMENT */

#answer_form {
    position: absolute;
    width:100%;
}

#valider {
    position: relative;
    margin-top: 150px;
    margin-left: 800px;
    height: 100px;
    width: 200px;
}

#answer_ohm {
    margin-left: 700px;
    width: 160px;
}

#answer_tolerance {
    margin-left: 50px;
    width: 160px;
}
aside {

    vertical-align: bottom;
    text-align: right;

}

a {
    color: white;
}

p {
    font-family: fantasy;
    font-size : 1.5em;
}

 #aside_bt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

 a {
    color: red;
 }
