body {
    background-color: #0ED0A1;
}

#main {
    position:absolute;
    margin-left: 250px;
}

/* CELUI QUI TOUCHE A CA JE L'EXPLOSE */

#lg_bande_1 {
    position: relative;
    transform: rotate(0deg);
    width  : 20px;
    height : 72px;
    background : white;
    margin-left: 956px;
    margin-top: 306px;
}
#lg_bande_2 {
    transform: rotate(0deg);
    width  : 20px;
    height : 73px;
    background : white;
    margin-left: 803px;
    margin-top: -67px;
}
#pt_bande_1 {
    transform: rotate(0deg);
    width  : 20px;
    height : 60px;
    background : white;
    margin-left: 905px;
    margin-top: -60px;
}
#pt_bande_2 {
    transform: rotate(0deg);
    width  : 20px;
    height : 60px;
    background : white;
    margin-left: 855px;
    margin-top: -65px;
}

/* FIN DE L'AVERTISSEMENT */


#valider {
    position: relative;
    margin-top: 150px;
    margin-left: 800px;
    height: 100px;
    width: 200px;
}

#answer {
    position: relative;
    margin-top: 100px;
    margin-left: 550px;
    height: 50px;
    width: 320px;
}

#answer_t {
    height: 50px;
    width: 220px;
    margin-left: 50px;
}

aside {

    vertical-align: bottom;
    text-align: right;

}

a {
    color: white;
}
