#git {
    color: #5271FF;
    text-align: center;
}

#back_title {
    color: #5CE1E6;
    font-size: 70%;
    text-align: left;
}

#left_cercle {
    width: 15%;
    height: 15%;
    border-radius: 7.5%;
    background: #5de0e6;
}

#right_cercle {
    width: 15%;
    height: 15%;
    border-radius:7.5%;
    background: #004aad;
}