<!DOCTYPE html>
<html> 
<head>
 <link href="{{url_for('static', filename='q_resistance.css')}}" rel="stylesheet" type="text/css">
 <meta charset="utf-8">
 <title>Quizz résistance</title>
</head>

<body>
 <h1>Les résistance !</h1>
    <img id="main" src="{{url_for('static', filename='resistance.png')}}">
    <div id="lg_bande_1"></div>
    <style> 
        #lg_bande_1 {
            background-color: {{ first_color }};
        }
    </style>
    <div id="pt_bande_2"></div>
    <style> 
        #pt_bande_2 {
            background-color: {{third_color}};
        }
    </style>
    <div id="pt_bande_1"></div>
    <style> 
        #pt_bande_1 {
            background-color: {{second_color}};
        }
    </style>
    <div id="lg_bande_2"></div>
    <style> 
        #lg_bande_2 {
            background-color: {{fourth_color}};
        }
    </style>
</body>

<section>
    <form method="post">
        <select>
            <option value="Rouge">Rouge</option>
            <option value="Rouge">vert</option>
            <option value="Rouge">jaune</option>
            <option value="Rouge">bleu</option>
        </select>
        <select>
            <option value="Rouge">Rouge</option>
            <option value="Rouge">vert</option>
            <option value="Rouge">jaune</option>
            <option value="Rouge">bleu</option>
        </select>
        <select>
            <option value="Rouge">Rouge</option>
            <option value="Rouge">vert</option>
            <option value="Rouge">jaune</option>
            <option value="Rouge">bleu</option>
        </select>
        <select>
            <option value="Rouge">Rouge</option>
            <option value="Rouge">vert</option>
            <option value="Rouge">jaune</option>
            <option value="Rouge">bleu</option>
        </select>
        <input type="submit" value="Valider" id="valider">
 </form>
</section>

</html>